body{
  background-color: #ffbdbd;
}

a{
  color: skyblue;
  outline:
}
a:visited{
  color: skyblue;
}
a:hover{
  color: lightpink;
}

#portrait{
float: left;
width: 21.5%;
background-color: snow;
margin-left: 13%;
}

#my-portrait{
  width: 100%;
}

#evans-div{
  float: left;
  width: 50%;
  background-color: snow;
  font-size: 1.95em;
}

#intro{
  margin-left: 20px;
  text-align: center;
}

#description{
  margin-left: 20px;
}

#labs{
  float: left;
  width: 71.5%;
  background-color: snow;
  font-size: 2em;
  margin-left: 13%;
}

div h1{
  text-align: center;
}
