body{
background-color: black;
}

div{
  width: 92.3%;
  font-size: 3em;
  text-align: left;
  border-style: solid;
  border-radius: 3em;
  background-color: lightgreen;
  border-color: green;
  border-width: 1em;
  padding: 0.5em;
}

h3{
  text-align: center;
}

img{
  width: 75%;
  margin-left: 12.5%;
}

#header{
  text-align: center;
}

.caption{
  text-align: center;
  font-size: 0.5em;
}

#pseudo{
  text-align: left;
}
